body {
  background-color: #DEB887;
}

#app-content ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

#app-content li.theme-list-item {
  cursor: pointer;
  border: solid black 5px;
  margin-bottom: 1em;
  padding: 0 0.5em;
  text-align: center;
  background-color: #96692F;
}

#app-content li.theme-list-item:hover {
  background-color: #B88C53;
}

#app-content li.theme-list-item iframe {
  width: 100%;
}

h2 {
  color: maroon;
}

h3,
h4 {
  color: #FFE3BF;
}